files:
  "C:\\Scripts\\RenameComputer.ps1":
    content: |
      Import-Module AWSPowerShell
      Start-transcript -Path C:\\RenameComputer-Transcript.txt -Force
      if ((Get-WmiObject -Class Win32_ComputerSystem).PartOfDomain -eq "False") {
      Write-Host "Already in Domain"
      exit 0
      }
      $getip= get-WmiObject Win32_NetworkAdapterConfiguration|Where {$_.Ipaddress.length -gt 1}  
      $ip = $getip.ipaddress[0]
      $ar = $ip.Split('.')
      $Octet1 = "{0:X2}" -f [int]$ar[0]
      $Octet2 = "{0:X2}" -f [int]$ar[1]
      $Octet3 = "{0:X2}" -f [int]$ar[2]
      $Octet4 = "{0:X2}" -f [int]$ar[3]
      $IPAddress = $Octet4 + $Octet3 + $Octet2 + $Octet1
      $ComputerName="KzKitms" + $IPAddress
      Rename-Computer -NewName $ComputerName
      Restart-Computer -Force
      Stop-transcript

container_commands:
  01-rename-computer:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\Scripts\\RenameComputer.ps1
    ignoreErrors: true
    waitAfterCompletion: 90

