.row
{
    margin-bottom: 15px;
}
.search
{
    width:50%;
    display:inline !important;
}

.search-area
{
    border:none;

}

.searchbox
{


  width: 100%;

    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px 10px 15px 10px;

    float: left;



}

.icon-align
{
    float:left;
    margin-top: 5px;
}

.card-title
{
    padding: 10px;
    border: none;


}

.category
{
    border-bottom: 1px solid #ccc;
}



.emailarea {
    border: 2px solid black;
    width: 50%;
    padding-left: 5px !important;
    margin: 0 auto;
    padding-bottom: 5px !important;
    height: auto;
  }



  .categorylist {
    -webkit-align-items: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 5px !important;
    box-sizing: border-box;
    display: inline-flex;
    height: 20px;
    line-height: 20px;
    margin-left: 4px;
   -webkit-font-smoothing: auto;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    border-radius: 0px;
    font-size: 16px;
     padding:15px;
    margin-bottom: 5px;
    color: black;
    cursor: pointer;
}
  .form-control:focus {
    border: 0px !important;
    outline-offset: 0px !important;
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .vM {
    height: 16px;
    opacity: .54;
    width: 16px;
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/close_black_16dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    margin-left: 4px;
    cursor: pointer; }


    .categorylist1 {
        -webkit-align-items: center;
        align-items: center;
        background-color: #fff;
        border: 1px solid #dadce0;
        box-sizing: border-box;
        display: inline-flex;
        height: 20px;
        line-height: 20px;
        margin-left: 4px;
        -webkit-font-smoothing: auto;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        border-radius: 0px;
        font-size: 16px;
        padding:15px;
        padding-right:5px;
        margin-bottom: 5px;
        color: black;
        cursor: pointer;


      }

      .useremailinput {

        border: 0px !important;
        width: auto;
        padding: 0px !important; }


        .form-control1
        {

            background-color: #fff;
            border: 1px solid #dadce0;
            -webkit-border-radius: 10px;

            -webkit-box-sizing: border-box;
            box-sizing: border-box;

            display: inline;

            font-size: 16px;
            box-shadow:none;
            -webkit-font-smoothing: auto;
            font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

            letter-spacing: 0.3px;

            max-height: 25px;

                border:none !important;
                    -webkit-box-shadow: none !important;
       box-shadow: none !important;
         }

         .form-control1:focus{
             border:none !important;
                 -webkit-box-shadow: none;
    box-shadow: none;
         }

         .alreadyselected
         {
             opacity: 0.4;

         }

         .categorybutton
         {
             margin-right: 10px !important;
         }

         .rowitems
         {
            border-bottom: 1px solid black;
            padding-bottom: 3px
         }
         .place-tags .badge-primary {
            background: #572483;
            font-weight: 400;
        }
        .mr-1, .mx-1 {
            margin-right: 2.25rem!important;
        }
