@import "../scss/_colors.scss";
@import "../scss/_mixins.scss";
@import "../scss/_variables.scss";

.card-columns {
    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;

        li {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            margin: 0 3px;
            text-indent: -999px;
            cursor: pointer;
            background: #fff;

            &.active {
                transform: scale(1.3);
                -web-transform: scale(1.3);
                -moz-transform: scale(1.3);
            }
        }
    }

    .carousel .carousel-control-next .carousel-control-next-icon,
    .carousel .carousel-control-prev .carousel-control-prev-icon {
        width: 15px !important;
        height: 15px !important;
    }

    .carousel-control-prev-icon {
       // background-image: url(https://static1.feelitlive.com/images/left-arrow.svg);
    }

    .carousel-control-next-icon {
       // background-image: url(https://static1.feelitlive.com/images/right-arrow.svg);
    }
}

@-webkit-keyframes move {
  from {
  transform: scale(1.03);
  -ms-transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -o-transform: scale(1.03);
  -moz-transform: scale(1.03);
  }
  to {
  transform: scale(1.0);
  -ms-transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  -moz-transform: scale(1.0);
  }
}
.carousel-fade .carousel-item{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation:move 10s ease infinite;
  -ms-animation:move 10s ease infinite;
  -webkit-animation:move 10s ease infinite;
  -o-animation:move 10s ease infinite;
  -moz-animation:move 10s ease infinite;
}
/*
@media only screen and (min-width: 1301px) {
    .carousel,
    .carousel-inner,
    .carousel-item {
     width: 100%;
     height: 100%;
    }
    .carousel-item .img-fluid {
      bottom: 0;
      width:100%;
      position: absolute;
      opacity: 0.8;
    }
    .carousel-fade {
    	.carousel-item {
        display: block;
    		position: absolute;
        background: #000;
    	}
    }
}*/
