@mixin box-shadow{
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.19);
box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.19);
}
@mixin gradient-bg{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-bg-invers{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
@mixin transformEffact {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

@mixin greadient-black-white{
background: -moz-linear-gradient(top, rgba(0,0,0,0) -1%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.64) 97%, rgba(0,0,0,0.65) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) -1%,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.64) 97%,rgba(0,0,0,0.65) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) -1%,rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.64) 97%,rgba(0,0,0,0.65) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}