<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" enabled="true" stopProcessing="true">
          <match url="health-check" negate="true" />
          <conditions>
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
            <add input="{REMOTE_HOST}" pattern="localhost" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>      
       
        <!-- 301 Redirect to www for Feelitlive Starts here -->
		
        <rule name="www Redirect for feelitlive.com" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.com$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.com{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive India"  stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.co.in$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.co.in{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive UK " stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.co.uk$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.co.uk{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive Australia" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.com.au$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.com.au{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive Newzealand" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.co.nz$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.co.nz{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive Spain" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.co.es$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.co.es{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive Germany" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.co.de$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.co.de{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        <rule name="www Redirect for feelitlive France" stopProcessing="true">
          <match url="(.*)" />
          <conditions trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^feelitlive.fr$" />
          </conditions>
          <action type="Redirect" url="https://www.feelitlive.fr{REQUEST_URI}" appendQueryString="false" redirectType="Permanent" />
        </rule>
        
        <!-- 301 Redirect to www for Feelitlive Ends here -->

      </rules>
    </rewrite>
    <handlers>
      <add name="aspNetCore-FIL.Web" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 74FC6647-1218-4BD4-89A8-9EEFA4384E53-->
