files:
  "C:\\Scripts\\JoinDomain.ps1":
    content: |
      Import-Module AWSPowerShell
      Start-transcript -Path C:\\JoinDomain-Transcript.txt -Force
      if ((Get-WmiObject -Class Win32_ComputerSystem).PartOfDomain -eq "False") {
      Write-Host "Already in Domain"
      exit 0
      }
      $domainName= "$DOMAIN"
      $userName= "$USER"
      $password= "$PWD"
      $cred = New-Object System.Management.Automation.PsCredential("$domainName\$userName", (ConvertTo-SecureString "$password" -AsPlainText -Force))
      Add-Computer -DomainName "$domainName" -Credential $cred
      Restart-Computer -Force
      Stop-transcript

container_commands:
  01-join-domain:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\Scripts\\JoinDomain.ps1
    ignoreErrors: true
    waitAfterCompletion: 90