files:
    c:/tools/ewmp.cmd:
        content: | 
            @ECHO OFF 
            FOR /F "tokens=3,*" %%a IN ('REG QUERY "HKLM\System\CurrentControlSet\Control\Session Manager\Environment" /v PATH') DO PATH %%a%%b
            %*
    c:/Scripts/nodeinstall.ps1:
        content: |
          Import-Module AWSPowerShell
          Start-transcript -Path C:\\NodeInstall-Transcript.txt -Force
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          Invoke-Expression ((New-Object Net.WebClient).DownloadString('https://chocolatey.org/install.ps1'))
          c:/tools/ewmp.cmd cinst nodejs -y
          Stop-transcript

container_commands:
  01-node-install:
    command: powershell.exe -ExecutionPolicy Bypass -File C:\\Scripts\\nodeinstall.ps1
    ignoreErrors: true
    waitAfterCompletion: 5
