.btn-disbale {
    opacity: 0.5;
    cursor: default;
}

.table-prices {
    text-align: right;
    tr {
        td, th {
            &:first-child {
                text-align: left;
            }
        }
    }
}
.table-striped {
    tr {
        th {
            padding: 10px 15px !important;
        }

        td {
            padding: 10px 15px !important;
        }
    }
}

.table-responsive{
  border-radius: 3px;
}
.table>thead>tr>th {
    border-bottom: 1px solid #ddd !important;
}

.ReactTable {
    .rt-tbody {

        .rt-tr-group:nth-child(even) {
            background: #f9f9f9;
        }
    }

    .rt-th, .rt-td {
        padding: 10px 15px !important;
        text-align: left;
    }

    .rt-thead.-header {
        box-shadow: none !important;
        border-bottom: 1px solid rgba(0,0,0,0.05);
        font-weight: 600;
    }

    .rt-thead.-filters {
        /*input {
            border: 0px !important;
        }*/
    }

    ::placeholder {
        color: rgba(0,0,0,0.05);
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(0,0,0,0.05);
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(0,0,0,0.05);
    }

    .pagination-bottom {
        background: #eff3f6;
        margin: -1px;

        .-center {
            display: block;
        }

        .-pagination {
            box-shadow: none !important;
            padding-top: 15px;

            .-next {
                .-btn {
                    float: right;
                }
            }

            .-btn {
                //color: #007bff;
                background-color: transparent;
                //border: 1px solid #007bff;
                max-width: 150px;

                &:hover {
                    //background: #007bff;
                    background-color: transparent;
                    color: #007bff;
                }
            }

            select, .-pageJump input {
                padding: inherit;
                background: transparent;
                height: auto;
                border: 0;
                display: inline-block !important;
                width: 50px;
            }

            .select-wrap.-pageSizeOptions {
                select {
                    width: 100px;
                }
            }
        }
    }
}
